	/**
*
* Stylesheet pixelesp
*
 */

//colores
$gris: #222;
$verde: #AFD702;
$verdelink: #97b125;
$naranja: #ff9800;

@mixin transition($porp: all, $time: .5s, $wave: ease-in-out ) {
	-webkit-transition: $porp $time $wave;
		 -moz-transition: $porp $time $wave;
			-ms-transition: $porp $time $wave;
					transition: $porp $time $wave;
}

//import other css
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
@import url('./ngDialog.min.css');

//reset 
body {
	//padding-top: 100px;
	color: #AEAEAE;
	background-color: #262626;
}

*:focus {
	outline: none!important;
}

a {
	color: $verdelink;
}

.img-sm {
    width: 30px !important;
    height: 30px !important;
    float: left;
}

.disabled {
	cursor: default!important;
}

.breadcrumb .active {
	color: white;
}

.nav-center {  
	text-align: center;
	ul.nav {
	display: inline-block;
	li {
		display: inline
		a {
		float: left
		}
	}
	}
}

//modals 
.ngdialog-content .tab-content {
	padding: 20px 20px 10px;
}

//uploads
.file-custom::before {
	content: "buscar";
}
.file-custom::after {
    content: "...";
}

#subirpixelart canvas {
	margin: 5px auto;
    display: block;
}

//buttons
.btn-default {
	min-width: 40px;
    font-size: 14px;
    text-transform: none;
    position: relative;
    text-align: center;
}

//navbar 
.navbar {
	border: none;
	background-color: $gris;
	padding: 0 10px;
	z-index: 10300;

	a.navbar-brand {
		@include transition(width, .3s);

		display: block;
		overflow: hidden;
		padding: 10px 0;
		width: 230px;
	}
	.navbar-nav li{
		& a:hover, & a:focus, &.active a:hover, &.active a:focus, &.active a {
			background-color: transparent;
			color: $verde; 
		}
	}
}

.main-sidebar, .left-side {
	@include transition(width, .3s);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 810;
	padding-top: 50px;
	min-height: 100%;
	width: 230px;
	background: #1A2226;

	.user-panel {
		position: relative;
		overflow: hidden;
		padding: 10px;
		width: 100%;

		img {
			max-width: 45px;
			width: 100%;
			height: auto;
		}
		.info {
			position: absolute;
			left: 55px;
			padding: 5px 5px 5px 15px;
			color: white;
			line-height: 1;

			p {
				margin-bottom: 9px;
				font-weight: 600;
			}
			a {
				margin-top: 3px;
				padding-right: 5px;         
				color: white;
				text-decoration: none;
				font-size: 11px;
			}
		}
	}
	.sidebar-menu {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
		position: relative;
		margin: 0;
		padding: 0;
		background: #1a2226;
		color: #4b646f;

			a {
				position: relative;
				display: block;
				padding: 12px 5px 12px 15px;
				border-left: 3px solid transparent;
				color: #b8c7ce;
			}
			&.active a,& a:hover {
				border-left-color: $verde;
				background: #1e282c;
				color: #fff;
				text-decoration: none;
			}
			&.header {
				padding: 10px 25px 10px 15px;
				font-size: 11px;
			}
		}
	}
}

//content
.content-wrapper {  
	margin-left: 230px;
	padding: 50px 0 0 0;
	min-height: 100vh;
	max-width: calc(100% - 230px);  
	background-color: #262626;

	.content {
		position: relative;

		&-header {
			position: relative;
			padding:20px 15px 15px;

			h1 {
			margin: 0;
			font-size: 24px;
			}
		}
	}
	.breadcrumb {
	position: absolute;
	top: 15px;
	right: 10px;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	padding: 7px 5px;
	border-radius: 2px;
	background: transparent;
	font-size: 12px;
	}

	//perfil
	.box.box-primary {
			border-top-color: #3c8dbc;
	}

	.box {
		position: relative;
		border-radius: 3px;
		background: #ffffff;
		border-top: 3px solid #d2d6de;
		margin-bottom: 20px;
		width: 100%;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		.box-body {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			padding: 10px;
		}

		.profile-user-img {
		    margin: 0 auto;
		    width: 100px;
		    padding: 3px;
		    border: 3px solid #d2d6de;
		}
	}
}

//cards
.card {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border: none;
	margin-bottom: 20px;
	//width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);

	&-noticia {
	border: none;
	position: relative;
	}

	&-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;

	img {
		width: 20px;
		height: 20px;
		float: left;
		}
		.username {
			font-size: 12px;
			font-weight: 600;
			margin-left: 5px;
		}
		.date {
		color: #999;
		font-size: 12px;
		}

		.box-tools {
		position: absolute;
		right: 10px;
		top: 5px;

			button {
				padding: 5px;
				font-size: 12px;
				background: transparent;
				color: #97a0b3;
			}
		}
	}

	&-title {
		margin: 0 0 .75rem;

		a {
		    text-transform: uppercase;
		    font-weight: 700;
		}
	}

	&-footer {

		padding:0;

		.box-comment {
		    padding: 10px;
		    border-bottom: 1px solid #eee;


			.img-push, .comment-text {
			    margin-left: 40px;
			}

			img {
				width: 30px;
				height: 30px;
				float: left;
			}

			.username {
			    color: #444;
			    display: block;
			    font-weight: 600;
			}

			.text-muted {
			    font-weight: 400;
			    font-size: 12px;
			}

			.comment-text {
			    margin-left: 40px;
			    color: #555;
			}
		}

		.box-footer {
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 3px;
		    border-bottom-left-radius: 3px;
		    border-top: 1px solid #f4f4f4;
		    padding: 10px;
		    background-color: #fff;

		    .img-sm+.img-push {
			    margin-left: 40px;
			}
		}
	}
}

//form
form {
	position: relative;
	z-index: 1;

	&.fancy {
		position: relative;
		z-index: 0;

		.input {
			position: relative;
			display: inline-block;
			margin: 0 0 1em;
			width: 100%;

			label {
				position: absolute;
				bottom: 0;
				left: 0;
				overflow: hidden;
				padding: 0;
				width: 100%;
				height: 100%;
				text-align: left;
				pointer-events: none;
			}
		}

		input {
			outline: 0;
			border: none;
			background: 0 0;
		}

		input[type=email], input[type=password], input[type=text], input[type=url], textarea {
			margin-top: 1em;
			padding: .4em;
    		padding-bottom: 0;
			width: 100%;
			color: #4c4d57;
			font-style: normal;
			font-size-adjust: .52;
			font-size: 16px;
			border: none;
			border-bottom: 1px solid #c8c9d0;
		}

		.box-footer & input {
		    margin: 0;
		    font-size: 14px;
		}

		label {
			display: block;
			padding: 10px 5px 5px 2px;
			width: 100%;
			color: #9d9eaa;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: .7em;
			cursor: pointer;
		}


		a.forgot-pw span, a.cancelaction {
		    float: right;
		    color: #afafb9;
		    font-size: .8em;
		}

		.btn-full {
			margin: 15px auto 0;
		    width: 100%;
		}

		a.btn.btn-primary, button.btn-primary, input[type=submit].btn-primary {
		    padding: 2.5px;
		    border: none;
		    border-radius: 2px;
		    background: #ff9c42;
		    box-shadow: none;
		    color: #FFF;
		}
	}
}

.ngdialog {

	&.ngdialog-theme-tread {
   		padding: 50px 0 0 0;

   		.ngdialog-overlay {
		    margin-top: 50px;
		}

		.ngdialog-content {
		    width: 1020px;
   			max-width: 70%;
		    float: right;
		    padding: 0;
		    top: 0;
		}

		.card {
			width: 100%;

			&-header {
				padding: 20px 10% 15px;
			}
			&-block {
				padding: 10px 10%;
			}
			&-footer {
				padding: 0 15% 15px;
			}
		}
   	}

   	&.ngdialog-theme-plain {
   		&.width-noticia .ngdialog-content {
			width: 500px;
		}

		&.width-post .ngdialog-content {
		    width: 350px;
		}
	}
}