/**
 * Stylesheet pixelesp
 */

@mixin transition($porp: all, $time: .5s, $wave: ease-in-out ) {
	transition: $porp $time $wave;
}

@mixin faBefore($content) {
	margin-right: 5px;
	content: $content;
	font-style: normal;
	font-size: 1em;
	font-family: 'FontAwesome';
}

/* importar demas estilos*/
@import 'https://fonts.googleapis.com/css?family=Roboto:100,400,700,900';
@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700';

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
@import url('./ngDialog.min.css');
@import url('./ng-img-crop.css');
@import './animate-scss/animate.scss';

/*
 * Reset CSS
 */
body {
	background-color: #262626;
	/*padding-top: 100px;*/
	color: #AEAEAE;
	font-family: 'Roboto', sans-serif;
}

/* colores*/
$gris: #222;
$verde: #AFD702;
$verde_hover: #AEEA00;
$naranja: #ff9800;

/* estados*/
*:focus {outline: none!important; }
.disabled {cursor: default!important; }

/* links*/
a {
	color: $verde;

	&:focus, &:hover, &:active {
		color: $verde_hover;
		text-decoration: none;
	}
}

/* reset dropdown */
.dropdown-toggle {
	padding: 5px;
	border: none;

	&:after {
		margin: 0;
		width: 17px;
		height: 17px;
		border: none;
		content: '\f078';
		text-align: center;
		font-style: normal;
		font-family: 'FontAwesome';
	}
}

.dropdown-menu {
	.user-panel {
		display: -ms-inline-flexbox;
		display: inline-flex;

		.avatar {
			display: inline-block;
			margin: 10px;
		}
		.info {
			margin-right: 10px;
			padding-top: 20px;

			p {
				margin: 0
			}
		}
	}
}

/*
 * Botones
 */
.btn-default {
	position: relative;
	min-width: 40px;
	text-align: center;
	text-transform: none;
	font-size: 14px;
}

.btn-primary {
	border: none;
	border-radius: 2px;
	background-color: $verde;
	box-shadow: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;

	&:hover, &:focus, &:active, &:active:hover, &:active:focus, &.disabled:hover, &:disabled:hover {
		border: none;
		background-color: $verde_hover;
	}
	&[disabled] {
		opacity: .5;
	}
}

.btn-outline-primary {
	border-color: $verde;
	color: $verde;
	text-transform: uppercase;

	&:hover, &:focus {
		border-color: $verde;
		background-color: $verde;
	}
}

.btn-comment {
	max-width: 95px;
	width: 100%;
	height: 30px;
	border-radius: 0 2px 2px 0!important;
}

.btn-block {    
	letter-spacing: 1px;
}

/*
 * Alerts
 */
.alert-animated {
	@include fadeIn($delay: .5s);
}

.alert-top {
	position: relative;
	top: 0px;
	margin: 0;
	padding: 0 1rem;
	height: 50px;
	border-radius: 0;
	line-height: 50px;
}

.v-x-center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.shareTitle {
	position: relative;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .7em;
}

/*
 * NavBar
 */
.navbar {
	@include fadeInDown();

	z-index: 10300;
	padding: 0 10px;
	background-color: $gris;

	a.navbar-brand {
		padding: 8px 0;
		width: 205px;
	}
	ul.nav {
		margin: 0 15px;
		line-height: 50px;

		&:last-child {
			margin-right: 0;
		}
	}
	.navbar-nav li {
		& a {
			color: #9d9d9d;
		}
		& a:hover, & a:focus, &.active a:hover, &.active a:focus, &.active a {
			background-color: transparent;
			color: $verde; 
		}
	}
	.nav-link.dropdown-toggle:after { display: none; }
}

/*
 * SideBar
 */
.main-sidebar {
	@include fadeInLeft();

	position: fixed;
	top: 0;
	left: 0;
	z-index: 810;
	padding-top: 50px;
	min-height: 100%;
	width: 230px;
	background: #1A2226;

	.user-panel {
		position: relative;
		overflow: hidden;
		padding: 10px;
		width: 100%;

		img {
			max-width: 45px;
			width: 100%;
			height: auto;
		}
		.info {
			position: absolute;
			left: 55px;
			padding: 5px 5px 5px 15px;
			color: white;
			line-height: 1;

			p {
				margin-bottom: 9px;
				font-weight: 600;
			}
			a {
				margin-top: 3px;
				padding-right: 5px;         
				color: white;
				text-decoration: none;
				font-size: 11px;
			}
		}
	}
	.sidebar-menu {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
		position: relative;
		margin: 0;
		padding: 0;
		background: #1a2226;
		color: #4b646f;

			a {
				position: relative;
				display: block;
				padding: 12px 5px 12px 15px;
				border-left: 3px solid transparent;
				color: #b8c7ce;
			}
			&.active a,& a:hover {
				border-left-color: $verde;
				background: #1e282c;
				color: #fff;
				text-decoration: none;
			}
			&.header {
				padding: 10px 25px 10px 15px;
				font-size: 11px;
			}
		}
	}
}

/*
 * Content
 */
.content-wrapper {
	@include fadeInUp();

	margin-left: 230px;
	padding: 60px 0 0 0;
	min-height: 100vh;
	max-width: calc(100% - 230px);
	background-color: #262626;
}


/*
 * Formularios
 */
form {
	position: relative;
	z-index: 1;

	&.fancy {
		position: relative;
		z-index: 0;

		.form-group {
			position: relative;
			display: inline-block;
			margin: 0 0 1em;
			width: 100%;

			label:not(.file-upload) {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				overflow: hidden;
				margin-bottom: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				color: #9d9eaa;
				text-align: left;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: .7em;
				cursor: pointer;
				pointer-events: none;
			}
			.alert-warning {
				position: relative;
				top: -2px;
				padding: 2.5px 15px;
				border-top: 1px solid #c8c9d0;
				border-bottom: 2px solid #8D6E63;

				&.ng-inactive {
					border-top: 2px solid #8BC34A!important;
					border-bottom: none!important;
				}
				p { 
					margin:0;
					text-transform: uppercase;
					font-size: 0.7em;
				}
			}
			&.textarea .alert-warning {top: -8px; }
			&.preview .alert-warning {border: none!important; }
			input[type="file"] {display: none; }
			input {
			outline: 0;
			border: none;
			background: 0 0;

				&.comment {
					float: left;
					width: calc(100% - 95px)!important;
					border-radius: 0px;

					&[disabled] {
						border: none;
						background: #F5F5F5;
						box-shadow: none;
					}
				}

			}
			input[type=email], input[type=password], input[type=text], input[type=url], textarea {
				margin-top: 1em;
				padding: .4em;
				padding-bottom: 0;
				width: 100%;
				border: none;
				border-bottom: 1px solid #c8c9d0;
				color: #4c4d57;
				font-style: normal;
				font-size-adjust: .52;
				font-size: 16px;
			}
		}
		.box-footer & input {
			float: left;
			margin: 0;
			width: calc(100% - 95px) !important;
			height: 30px;
			border-radius: 2px 0 0 2px;
			box-shadow: none;
			font-size: 14px;
		}
		a.forgot-pw span, a.cancelaction {
			display: block;
			color: #afafb9;
			text-align: right;
			font-size: .8em;
		}
		.alert-danger, .alert-success {
			margin: 5px 0;
			padding: 0 15px;
			border-radius: 3px;
			text-align: center;

			p { 
				margin:0;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 0.7em;
			}
		}
		.alert-danger p:before { @include faBefore('\f057'); }
		.alert-success p:before { @include faBefore('\f058'); }
		.alert-warning p:before { @include faBefore('\f06a'); }
		/* upload pixelart*/
		.drop-box {
			position: relative;
			display: block;
			height: 440px;
			border: 3px dashed $naranja;
			background-color: rgba(255, 156, 66, 0.2);
			color: #9d9eaa;
			text-align: center;
			line-height: 150px;
			transition: all .4s ease;

			&.dragover {
				border-style: solid!important;
				font-size: 0.8em;
			}
			&.ng-dirty {
				border: none!important;
				background-color: white!important;
			}
			&:before {
				position: absolute;
				top: calc(50% - 25px);
				left: calc(50% - 75px);
				display: block;
				margin: 0 auto;
				width: 150px;
				height: 50px;
				content: "Suelta tu arte aqui";
				text-align: center;
				text-decoration: inherit;
				line-height: 50px;
			}
		}
		.cropArea:not(.drop-box) {
			width: 100%;
			height: 180px;
		}
		
	}
}

/*
 * Card Reset
 */
@media (min-width: 34em) {
	.card-columns {
		-moz-column-count: 4;
		column-count: 4;
	}
}

.card {
	@include transition();

	.card-block {
		padding-bottom: .5rem;
		border-bottom: 1px solid #F4F4F6;

		.card-title {
			text-transform: uppercase;
			font-weight: 600;
		}
		.card-subtitle {
			font-size: .9rem;

			img {
				margin-right: 5px;
				width: 20px;
				height: 20px;
			}
		}
		.card-text { white-space: pre-line;}
		.read-more{
	    display: block;
	    margin-bottom: .5em;
	    padding: 0.5em;
	    border: 1px solid #E0E0E0;
	    border-right: 0;
	    border-left: 0;
	    text-align: center;
	  }
	}
	&.jobs .card-block {
		padding: 10px 1.25rem;
	}
}

/*
 * Modal - ngDialog
 */
.ngdialog {
	/* reset*/
	.ngdialog-content {
		header h4 { margin-bottom: 0}
		/* login - register*/
		.nav-center {  
			text-align: center;

			ul.nav {
				display: inline-block;

				li {            
					margin-bottom: -2px;
					font-size: .9em;            
				}
			}
		}
		.tab-content {padding: 20px 20px 10px; }
	}
	/* post noticias*/
	&.ngdialog-theme-thread {
		margin-bottom: 0;
		padding: 50px 0 0 0;

		.wrapper {
			@include fadeInRight();
		}
		.ngdialog-close::before {
			@include fadeInLeftBig();

			position: fixed;
			top: 50px;
			display: block;
			margin-left: -50px;
			padding: 15px;
			width: 50px;
			height: 50px;
			border-radius: 0 0 0 2px;
			background: white;
			text-align: center;
		}
		.ngdialog-overlay {
			margin-top: 50px;
		}
		.ngdialog-content {
			top: 0;
			float: right;
			padding: 0;
			max-width: 70%;
			width: 1020px;
			background-color: #f5f5f5;
		}
		.card {
			margin-bottom: 0;
			width: 100%;
			height: 100vh;
			border-radius: 0;
			background-color: #f5f5f5;

			&-block {
				padding: 1.25rem 10%;
				background-color: #fff;
			}
			&-footer {
				padding: 15px 15%;

				.box-comment {
					@include flipInX();

					padding: 10px;
					border-bottom: 1px solid #eee;

					.img-push, .comment-text {
						margin-left: 40px;
					}
					img {
						float: left;
						width: 30px;
						height: 30px;
					}
					.username {
						display: block;
						color: #444;
						font-weight: 600;
					}
					.text-muted {
						font-weight: 400;
						font-size: 12px;
					}
					.comment-text {
						margin-left: 40px;
						color: #555;
					}
				}
				.box-footer {
					position: relative;
					display: inline-block;
					clear: both;
					margin: 0 0 10px;
					padding: 15px;
					width: 100%;
					border: 1px solid #e6e6eb;
					border-radius: 3px;
					background: #fff;
					box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
					font-size: 16px;

					.avatar+.img-push {
						display: block;
						margin: 0 0 0 40px;
						width: 95%;

						input { margin: 0; }
					}
				}
				img.avatar {
					float: left;
					width: 30px !important;
					height: 30px !important;
				}
				.comicon i {
					display: block;
					padding: 15px;
					color: hsl(0, 0%, 61%);
					text-align: center;
				}
			}
		}
		/* vista pixelart*/
		img.pixelart {
			display: block;         
			margin: 15px auto;
			max-height: 500px;
		}
	}
	/* crear post pixelart*/
	&.ngdialog-theme-plain {
		&.width-noticia .ngdialog-content {
			width: 500px;
		}
		&.width-post .ngdialog-content {
			max-width: 60%;
			width: 900px;

			.postFileThumb {
				position: absolute;
				top: 0px;
				width: 95%;
				height: 440px;
				background: white;
				text-align: center;
				white-space: nowrap;

				.vericalhelper {
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				img {
					max-width: 100%; 
					max-height: 440px; 
					vertical-align: middle;
				}
			}
			.preview {
				display: block;
				height: 145px;

				img {
					display: block;
					margin: 0 auto;
				}
				button.closePrevia {
					position: absolute;
					top: 20px;
					left: calc(100% / 2 + 35px);
					width: 30px;
					border: none;
					background: none;
					color: #D32F2F;
					text-shadow: 1px 1px 2px #BDBDBD;
				}
			}
		}

		/*
			Experimental 

		&.chat .ngdialog-content{
			width: 800px;

			.chat {
		    margin: 0;
		    padding: 0;
		    list-style: none;

				li {
			    margin-bottom: 10px;
			    padding: 5px;
			    border-bottom: 1px dotted #B3A9A9;

					&.left .chat-body { margin-left: 60px; }

					&.right .chat-body {margin-right: 60px; }

					.chat-body p {
				    margin: 0;
				    color: #8c949a;
				    font-size: .9em;
					}		 
				}
			}
		}
		
		*/

	}
	&.card-message {
		.card-block:before {
			position: absolute;
			top: 40px;
			left: 20px;
			margin-right: 5px;
			color: white;
			font-style: normal;
			font-size: 5em;
			font-family: 'FontAwesome';
			opacity: .2;
		}
		.card-blockquote p {
			text-transform: uppercase;
			font-weight: 100;
			font-size: 0.9em;
		}
		footer {
			text-align: right;
			font-style: italic;
			font-size: 0.9em;
		}
		.card-danger .card-block:before { content: '\f057'; }
		.card-success .card-block:before { content: '\f058'; }
		.card-warning .card-block:before { content: '\f06a'; }
	}
}

/**
 * Galeria preview
 */
article.post {
	position: relative;
	float: left;
	margin: 15px;
	width: 100px;
	height: 100px;
	transition: all .5s ease center;

	&:hover {
		outline: 10px solid white;
	}
	.card-title {
		position: absolute;
		top: 20px;
		left: -10px;
		z-index: 2;
		margin: 0;
		padding: 5px;
		width: 120px;
		border-radius: 3px 3px 0 0;
		text-align: center;
		font-size: 1em;
		opacity: 0;
		transition: all .5s ease;
	}
	&:hover .card-title {
		top: -27px;
		background: white;
		opacity: 1;
	}
	.card-footer {
		position: relative;
		bottom: 25px;
		left: -10px;
		padding: 2.5px;
		width: 120px;
		border: none;
		text-align: center;
		opacity: 0;
		transition: all .5s ease;

		img {
			width: 20px;
			height: 20px;
		}
	}
	&:hover .card-footer {
		bottom: 0px;
		z-index: 99;
		opacity: 1;
	}
}

/*
 * My Profile Page
 */

.card.profile{
	.fa.fa-2x {
		padding: 0 2.5px;
		font-size: 1.5em;
	}
}

.nav-tabs:not(#modalTabs) {
	border-bottom: none;

	li.nav-item {
		margin: 0 auto;
		width: calc(100% / 3);
		text-align: center;

		.nav-link {
			border: none;
			border-bottom: 2px solid #aeaeae;
			color: #9E9E9E;

			&.active, &:hover {
				position: relative;
				border-bottom: 2px solid $verde !important;
				color: $verde;

				&:after {
					position: absolute;
					bottom: -7px;
					left: 50%;
					margin-left: -2px;
					width: 0;
					height: 0;
					border-top: 5px solid $verde;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					content: '';
				}
			}
		}
	}
}

/*
 * Comunidad
 */

.bg-parallax {
	display: block;
  margin-top: -10px;
	padding: 50px 0 600px 0;
	color: #000!important;
	text-align: center;
	font-family: 'Inconsolata', monospace!important;
	
	&:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(76,76,76,0) 0%,rgba(38,38,38,1) 100%);
    content: '';
	}
}

.content-usuarios {
    position: relative;
    top: -350px;
}