/** 
*
* Stylesheet PixelEsp
*
* Colores *
* Verde Pixel art:    #AFD702
* Naranja       ;     #ff9800
*
*/


/* import other css*/

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
@import url('./ngDialog.min.css');

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=VT323);

/* site */

body {
	padding-top: 100px;
	background-color: #333;
	color: #AEAEAE;
}

.top5 { margin-top: 5px !important; }
.top7 { margin-top: 7px !important; }
.top10 { margin-top: 10px !important; }
.top15 { margin-top: 15px !important; }
.top17 { margin-top: 17px !important; }
.top30 { margin-top: 30px !important; }

aside {
	padding: 10px;
	border: 1px solid #EEEEEE;
	border-radius: 2px;
}

aside .fa {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 5em;
}

aside {
	font-family: 'VT323';
}

h2 {
	margin: 0;
	color: #1a1a1a;
	font-weight: 600;
	line-height: 1.3em;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.vcenter {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

p {
	color: #CCC
}

a {
	color: #AFD702;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}

a:focus,
a:hover {
	color: #ff9800;
	text-decoration: none;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
}

a.btn,
button,
input[type=submit] {
	position: relative;
	display: block;
	margin: 0;
	padding: 9px 15px 7px 15px;
	width: auto;
	outline: 0;
	border: 1px solid #e6e6eb;
	border-radius: 3px;
	background-color: #F4F4F6;
	background-image: none;
	box-shadow: 0 1px 0 0 #e6e6eb;
	color: #9D9EAA;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-style: normal;
	font-size-adjust: .53;
	font-size: 13px;
	line-height: 1.2em;
	cursor: pointer;
	-webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
	transition: background-color .218s, border-color .218s, box-shadow .218s;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-appearance: none;
}


/* navbar */

.navbar {
	border: none;
	background-color: #222222;
}

a.navbar-brand {
	left: 50%;
	display: block;
}

.navbar .navbar-nav>li.active>a,
.navbar .navbar-nav>li.active>a:focus,
.navbar .navbar-nav>li.active>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {
	background-color: transparent;
	color: #AFD702;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs>li>a {
	border: 0 none;
	border-bottom: 1px solid transparent;
	color: #D79102;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
	outline: none;
	border: none transparent;
	border-bottom: 1px #ff9800 solid;
	background-color: transparent!important;
	color: #ff9800!important;
}


/* Section */

section {}

article.blog-item {
	margin-bottom: 20px;
	padding: 25px 25px 20px 25px;
	border-radius: 2px;
	background-color: #424242;
	-ms-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);
	-o-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.blog-item img.content {
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}

.blog-style-two .blog-item h2.title {
	font-size: 24px;
}

.blog-item h2.title {
	color: #1a1a1a;
}

.blog-item .meta-info {
	margin: 0 0 10px 0;
}

.blog-item .meta-info ul {
	padding: 3px;
	list-style: none;
}

.blog-item .meta-info ul li:after {
	position: absolute;
	top: 5px;
	right: -5px;
	margin: 0;
	width: 1px;
	height: 8px;
	background-color: #CFD7D9;
	content: '';
}

.blog-item .meta-info ul li:last-child:after {
	display: none;
}

.blog-item .meta-info ul li:first-child {
	margin-left: 0;
}

.blog-item .meta-info ul li {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	font-size: 0.9em;
}