	/**
*
* Stylesheet pixelesp
*
 */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@import url("./ngDialog.min.css");
@import url("./animations.min.css");
body {
  color: #AEAEAE;
  background-color: #262626; }

*:focus {
  outline: none !important; }

a {
  color: #97b125; }

.disabled {
  cursor: default !important; }

.breadcrumb .active {
  color: white; }

.nav-center {
  text-align: center; }
  .nav-center ul.nav {
    display: inline-block; }
    .nav-center ul.nav li {
      display: inline a;
        display-float: left; }

.navbar {
  border: none;
  background-color: #222;
  padding: 0 10px; }
  .navbar a.navbar-brand {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    overflow: hidden;
    padding: 10px 0;
    width: 230px; }
  .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus, .navbar .navbar-nav li.active a:hover, .navbar .navbar-nav li.active a:focus, .navbar .navbar-nav li.active a {
    background-color: transparent;
    color: #AFD702; }

.main-sidebar, .left-side {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 810;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  background: #1A2226; }
  .main-sidebar .user-panel, .left-side .user-panel {
    position: relative;
    overflow: hidden;
    padding: 10px;
    width: 100%; }
    .main-sidebar .user-panel img, .left-side .user-panel img {
      max-width: 45px;
      width: 100%;
      height: auto; }
    .main-sidebar .user-panel .info, .left-side .user-panel .info {
      position: absolute;
      left: 55px;
      padding: 5px 5px 5px 15px;
      color: white;
      line-height: 1; }
      .main-sidebar .user-panel .info p, .left-side .user-panel .info p {
        margin-bottom: 9px;
        font-weight: 600; }
      .main-sidebar .user-panel .info a, .left-side .user-panel .info a {
        margin-top: 3px;
        padding-right: 5px;
        color: white;
        text-decoration: none;
        font-size: 11px; }
  .main-sidebar .sidebar-menu, .left-side .sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .main-sidebar .sidebar-menu li, .left-side .sidebar-menu li {
      position: relative;
      margin: 0;
      padding: 0;
      background: #1a2226;
      color: #4b646f; }
      .main-sidebar .sidebar-menu li a, .left-side .sidebar-menu li a {
        position: relative;
        display: block;
        padding: 12px 5px 12px 15px;
        border-left: 3px solid transparent;
        color: #b8c7ce; }
      .main-sidebar .sidebar-menu li.active a, .main-sidebar .sidebar-menu li a:hover, .left-side .sidebar-menu li.active a, .left-side .sidebar-menu li a:hover {
        border-left-color: #AFD702;
        background: #1e282c;
        color: #fff;
        text-decoration: none; }
      .main-sidebar .sidebar-menu li.header, .left-side .sidebar-menu li.header {
        padding: 10px 25px 10px 15px;
        font-size: 11px; }

.content-wrapper {
  margin-left: 230px;
  padding: 50px 0 0 0;
  min-height: 100vh;
  max-width: calc(100% - 230px);
  background-color: #262626; }
  .content-wrapper .content {
    position: relative; }
    .content-wrapper .content-header {
      position: relative;
      padding: 20px 15px 15px; }
      .content-wrapper .content-header h1 {
        margin: 0;
        font-size: 24px; }
  .content-wrapper .breadcrumb {
    position: absolute;
    top: 15px;
    right: 10px;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7px 5px;
    border-radius: 2px;
    background: transparent;
    font-size: 12px; }
  .content-wrapper .box.box-primary {
    border-top-color: #3c8dbc; }
  .content-wrapper .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .content-wrapper .box .box-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 10px; }
    .content-wrapper .box .profile-user-img {
      margin: 0 auto;
      width: 100px;
      padding: 3px;
      border: 3px solid #d2d6de; }

.card {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .card-noticia {
    border: none;
    position: relative; }
  .card-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative; }
    .card-header img {
      width: 20px;
      height: 20px;
      float: left; }
    .card-header .username {
      font-size: 12px;
      font-weight: 600;
      margin-left: 5px; }
    .card-header .date {
      color: #999;
      font-size: 12px; }
    .card-header .box-tools {
      position: absolute;
      right: 10px;
      top: 5px; }
      .card-header .box-tools button {
        padding: 5px;
        font-size: 12px;
        background: transparent;
        color: #97a0b3; }
  .card-title {
    margin: 0 0 .75rem; }

/*# sourceMappingURL=main.css.map */
