/** 
*
* Stylesheet PixelEsp 2.0
*
* Colores *
*
* Gris Oscuro    		#222
* Verde Pixel art:	#AFD702
* Naranja       ;		#ff9800
*
*/

/* import other css*/

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
@import url('./ngDialog.min.css');

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=VT323);

/* site */

body {
	/*padding-top: 100px;*/
	background-color: #333;
	color: #AEAEAE;
}

/* navbar */

.navbar {
	border: none;
	background-color: #222222;
}

a.navbar-brand {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.navbar .navbar-nav>li.active>a,
.navbar .navbar-nav>li.active>a:focus,
.navbar .navbar-nav>li.active>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {
	background-color: transparent;
	color: #AFD702;
}

.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background: #1A2226;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.user-panel>.info, .user-panel>.info>a {
    color: #fff;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}

.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}

.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu li {
    color: #4b646f;
    background: #1a2226;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 11px;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar a {
    color: #b8c7ce;
}
.sidebar-menu li>a {
    position: relative;
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #AFD702;
    text-decoration: none;
}

.sidebar-menu li.active>.treeview-menu {
    display: block;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    margin: 0 1px;
}
