<div class="content-wrapper">

    <section class="content">

        <div class="col-lg-12 d-block text-xs-center bg-contact" ng-parallax pattern="imguri" speed="10" reverse="true">

	        <div class="col-md-6 offset-md-3">

	        	<h1 class="m-t-3 display-4">PixelEsp</h1>
	        	<p>La comunidad de Pixel Art en español</p>

	        </div>

	        <div class="col-md-6 offset-md-3" style="background: rgba(0,0,0,0.1);">
	        	<p>Con el objetivo de juntar a todos los pixelartistas de habla hispana creamos una plataforma donde pueden compartir sus creaciones, inspirarse y motivarse para seguir haciendo lo que más les gusta.</p>
	        	<p>Tanto en PC como en dispositivos móviles (Android) <strong>PixelEsp</strong> te ofrece una amplia gama de acciones que hacer dentro de la comunidad. Subir tus obras, ver y comentar las obras de los otros usuarios, añadir a favoritos la que más te guste!, contactarte con otros usuarios, hacer amigos y más!</p>
	        	<p>Pero eso no es todo, PixelEsp tiene una larga lista de funciones y acciones que se van a ir añadiendo con el tiempo a la plataforma.</p>
	        </div>

	        <div class="col-md-6 offset-md-3 m-y-3">
	        	<h2>Detrás de PixelEsp estamos nosotros</h2>
	        	<p>Tres estudiantes, diseñadores, desarrolladores y entusiastas.</p>

	        	<div class="col-md-4">
	        		<img src="./img/ari.png" class="img-circle m-x-auto d-block m-y-1" width="100">
	        		<h5>Ariadna</h5>
	        		<p>App Developer</p>
	        	</div>

	        	<div class="col-md-4">
	        		<img src="./img/agus.png" class="img-circle m-x-auto d-block m-y-1" width="100">
	        		<h5>Agustín</h5>
	        		<p>Community Manager</p>
	        	</div>

	        	<div class="col-md-4">
	        		<img src="./img/nico.png" class="img-circle m-x-auto d-block m-y-1" width="100">
	        		<h5>Nicolás</h5>
	        		<p>Web Developer</p>
	        	</div>
	        </div>

	        <div class="col-md-6 offset-md-3 m-y-3">

	        	<h2>Sigue conectado a PixelEsp</h2>
	        	<br>
	        	<div class="col-md-3">
	        		<a style="color:white;" href="https://www.facebook.com/pixelespoficial/" target="_blank">
	        			<i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i>
	        		</a>
	        		<p>Facebook</p>
	        	</div>
	        	<div class="col-md-3">
					<a style="color:white;" href="https://twitter.com/pixelesp" target="_blank">
						<i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
					</a>
					<p>Twitter</p>
				</div>
				<div class="col-md-3">
					<a style="color:white;" href="https://www.instagram.com/pixelesp/" target="_blank">
						<i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
					</a>
					<p>Instagram</p>
				</div>

				<div class="col-md-3">
					<a style="color:white;" href="https://play.google.com/apps/testing/com.ionicframework.aplicacion209748" target="_blank">
						<i class="fa fa-android fa-4x" aria-hidden="true"></i>
					</a>
					<p>PixelEsp APP</p>
				</div>

	        </div>

	        <div class="col-md-6 offset-md-3 m-y-3">
	        	<h2>Contacto</h2>
	        	<p>¿Dudas, quejas o sugerencias?</p>
	        	<p>Escribinos a <a href="mailto:contacto@pixelesp.com">contacto@pixelesp.com</a></p>
	        </div>

	    </div>
	</section>

</div>