<div class="content">
  <header>          
    <h4 class="text-center">Subir Pixelart</h4>
  </header>

  <section class="tab-content">

    <form id="subirpixelart" class="form fancy">


      <div class="form-group">

        <div ng-controller="UploadController">

          <span class="input">
            <input type="text" tabindex="1" name="imagetitle" >
            <label for="imagetitle">
                <span class="label-content">Título</span>
            </label>
          </span>

          <label for="file">
            <span class="label-content">Subir pixelart</span>
          </label>
          <label class="file">            
            <input type="file" name="file" nv-file-select uploader="uploader">
            <span class="file-custom"></span>            
          </label>

            <section ng-repeat="item in uploader.queue">

              <div class="cropArea">
                <img-crop image="item.image" result-image="item.croppedImage"></img-crop>
              </div>
              <div>Cropped Image:</div>
              <div><img ng-src="{{item.croppedImage}}" /></div>


              <span class="text-center" ng-bind="item.file.name"></span>

              <div ng-show="uploader.isHTML5">
                  <div class="progress" >
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;"></div>
                  </div>
              </div>

              <button type="button" class="btn-primary btn-full" ng-click="item.upload()">Subir</button>
              <a href="" class="cancelaction" ng-click="item.remove()"> <i class="fa fa-trash"></i> Cancelar </a>

            </section>

            
        </div>
      </div>

      <div id="message"></div>

    </form>

  </section>

</div>
