<div class="content">
  <header>
    <h4 class="text-center">Subir Pixelart</h4>
  </header>

  <section class="tab-content">

    <form id="subirpixelart" name="newPostForm" class="form fancy">

      <div class="form-group">

          <span class="input">
            <input type="text" tabindex="1" name="imagetitle" ng-model="imagen.Titulo" ng-minlength="3" required>
            <label for="imagetitle">
                <span class="label-content">Título</span>
            </label>            
          </span>
          <div class="alert-warning" role="alert" ng-messages="newPostForm.imagetitle.$error" ng-if="newPostForm.imagetitle.$dirty" >
              <p ng-message="required">No te olvides del titulo!</p>
              <p ng-message="minlength">Usa más de 3 carácteres.</p>                    
          </div>

          <span class="input">
            <textarea tabindex="2" name="imagedesc" ng-model="imagen.Descripcion" ng-minlength="5" required></textarea>
            <label for="imagedesc">
                <span class="label-content">Descripción</span>
            </label>
          </span>
          <div class="alert-warning" role="alert" ng-messages="newPostForm.imagedesc.$error" ng-if="newPostForm.imagedesc.$dirty" >
              <p ng-message="required">No te olvides del titulo!</p>
              <p ng-message="minlength">Usa más de 5 carácteres.</p>                    
          </div>

          <label for="file">
            <span class="label-content">Subir pixelart</span>
          </label>

          <div ngf-drop name="file" class="drop-box cropArea" ng-model="postFile" ngf-pattern="image/*" ngf-drag-over-class="'dragover'" ngf-max-size="2MB">
            Suelta tu arte aquí
            <img-crop image="postFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
          </div>
          <div>
              <img ng-src="{{croppedDataUrl}}" />
          </div>

          

          <i ng-show="newPostForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>

          <span class="progress" ng-show="postFile.progress >= 0">
            <div style="width:{{postFile.progress}}%"></div>
          </span>
          <span ng-show="postFile.result">Upload Successful</span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

          <button type="button" class="btn-primary btn-full" ng-disabled="!newPostForm.$valid" ng-click="uploadPic(postFile, croppedDataUrl)">Subir PixelArt</button>
          <a href="" class="cancelaction" ng-click="closeThisDialog()"> <i class="fa fa-trash"></i> Cancelar </a>

        
        </div>

     

    </form>
  </section>
</div>


