<section class="wrapper">
    <div class="content-post">

        <article class="card">
            <header class="card-block">
                <div class="col-xs-10">
                    <h5 class="card-title"><a ui-sref="trabajo.empleo({TrabajoId:empleo.id})"> {{empleo.Titulo}} </a></h5>
                    <h6 class="card-subtitle text-muted"><img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{empleo.imagen}}" alt="{{empleo.username}}"> <span class="username text-muted"><a ui-sref="perfil({id_usuario:empleo.IdUsuario})"> {{empleo.username}} </a></span> <time title="{{ empleo.created_at | amUtc | amLocal | amDateFormat: 'LLLL' }}" class="date text-muted">@ {{ empleo.created_at | amUtc | amLocal | amCalendar }}</time></h6>
                </div>
                <div class="col-xs-2">
                    <div class="btn-group pull-xs-right">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fa fa-flag" aria-hidden="true"></i> Reportar</a>
                            <div ng-if="empleo.IdUsuario == currentUser.id || currentUser.userlevel == 1">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
                                <a class="dropdown-item text-danger" href="" ng-click="doDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>
                            </div>
                        </div>
                      </div>
                </div>
            </header>
            <!--  <img src="..." alt="Card image"> -->
            <div class="card-block">
                <p class="card-text"> {{empleo.Descripcion}} </p>
                <!-- <a href="#" class="card-link">Card link</a> -->
            </div>
            <div class="card-block">
                <p ng-if="empleo.skills"><strong>Habilidades Requeridas:</strong> {{empleo.skills}}</p>
                <p ng-if="empleo.time"><strong>Tiempo estimado del proyecto:</strong> {{empleo.time}}</p>
                <p ng-if="empleo.paymethod"><strong>Método de pago:</strong> {{empleo.paymethod}}</p>
            </div>

            <div class="card-footer">
                <h4><i class="fa fa-comments" aria-hidden="true"></i> {{empleo.comentarios.length}} Comentario<span ng-if="empleo.comentarios.length != 1">s</span></h4>

                <div class="box-footer">
                    <form class="fancy" ng-submit="guardarComentario(comment)">
                        <img ng-if="currentUser" class="img-responsive img-circle avatar" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{ currentUser.imagen }}" alt="Alt Text">
                        <img ng-if="!currentUser" class="img-responsive img-circle avatar" src="./img/paintprogram.png" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push form-group">
                          <input id="commentinput" type="text" class="form-control input-sm comment" ng-model="comment.text" 
                          ng-attr-placeholder="{{ currentUser ? 'Comenta algo...' : 'Inicia sesión para comentar!' }}"
                          ng-disabled="!currentUser">
                          <button class="btn-primary btn-comment" type="submit" ng-disabled="!currentUser">Enviar</button>
                        </div>
                    </form>
                </div>

                <div class="box-comments">
                    <div class="animate box-comment" ng-repeat="c in empleo.comentarios | orderBy:'-created_at'" ng-init="initFirst()">
                        <img class="img-circle avatar" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{c.imagen}}" alt="{{c.username}}">
                        <div class="comment-text">
                            <span class="username">
                                <a ui-sref="perfil({id_usuario:c.idusuario})">{{c.username}}</a>
                                <time title="{{ c.created_at | amUtc | amLocal | amDateFormat: 'LLLL' }}" class="text-muted pull-right">{{ c.created_at | amUtc | amLocal | amCalendar }}</time>
                            </span>
                            {{c.text}}
                        </div>
                    </div>
                </div>

                <div class="comicon">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </div>
            </div>

        </article>
    </div>
</section>