<div class="content-wrapper">

	<section class="col-lg-12 content" ng-controller="getTrabajos">

		<ul class="nav nav-pills">
          <li class="nav-item">
            <a ui-sref="trabajo.createjobs" class="nav-link btn btn-primary" ng-hide="!currentUser">Publicar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">{{trabajos.length}} Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"> ... </a>
          </li>
        </ul>

		<article class="card jobs" ng-repeat="trabajo in trabajos">
			<div class="card-block">
				<h5 class="card-title"><a ui-sref="trabajo.empleo({TrabajoId:trabajo.id})"> {{trabajo.Titulo}} </a></h5>
				<h6 class="card-subtitle text-muted"><img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{trabajo.imagen}}" alt="{{trabajo.username}}">
				<span class="username text-muted"><a ui-sref="perfil({id_usuario:trabajo.IdUsuario})"> {{trabajo.username}} </a></span> <time title="{{ trabajo.created_at | amUtc | amLocal | amDateFormat: 'LLLL' }}" class="date text-muted">@ {{ trabajo.created_at | amUtc | amLocal | amCalendar }}</time></h6>
			</div>
			<!--  <img src="..." alt="Card image"> -->
			<div class="card-block">
				<p class="card-text"> {{trabajo.Descripcion}} </p>
				<!-- <a href="#" class="card-link">Card link</a> -->
				<a class="btn btn-secondary btn-sm" ui-sref="trabajo.empleo({TrabajoId:trabajo.id})"><i class="fa fa-comments" aria-hidden="true"></i> {{trabajo.comentarios.length}} Comentario<span ng-if="trabajo.comentarios.length != 1">s</span></a>
			</div>
		</article>
	</section>

</div>