<div class="content-wrapper">

	<section class="col-lg-5 content" ng-controller="getTrabajos">
		<h3>Ultimos Empleos</h3>
		<article class="card" ng-repeat="trabajo in trabajos">
			<div class="card-block">
				<h5 class="card-title"><a ui-sref="home.thread({ NoticiaId: {{trabajo.id}} })"> {{trabajo.Titulo}} </a></h5>
				<h6 class="card-subtitle text-muted"><img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{trabajo.imagen}}" alt="{{trabajo.username}}">
				<span class="username text-muted"><a href="{{trabajo.IdUsuario}}"> {{trabajo.username}} </a></span> <time title="{{ trabajo.created_at | amDateFormat: 'LLLL' }}" class="date text-muted">@ {{ trabajo.created_at | amCalendar }}</time></h6>
			</div>
			<!--  <img src="..." alt="Card image"> -->
			<div class="card-block">
				<p class="card-text"> {{trabajo.Descripcion}} </p>
				<!-- <a href="#" class="card-link">Card link</a> -->
				<a href="#" class="card-link text-xs-right" ui-sref="home.thread({ NoticiaId: {{trabajo.id}} })"><i class="fa fa-comment" aria-hidden="true"></i> {{trabajo.comentarios.length}} Comentarios</a>
			</div>
		</article>
	</section>

	<section class="col-lg-7 content" ng-controller="getPosts">
		<h3>Ultimos PixelArts</h3>
		<article class="post" ng-repeat="pixelart in imagenes">
			<a ui-sref="home.pixelart({ pixelartId: {{pixelart.id}} })">
            <h4 class="card-title"> {{pixelart.Titulo}} </h4>
            <img class="img-fluid" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.Previa}}" alt="{{pixelart.Titulo}}" >
            <div class="card-footer">
                <img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.imagen}}" alt="{{pixelart.username}}">
                <span class="username text-muted"><a href="{{pixelart.IdUsuario}}"> {{pixelart.username}} </a></span>
            </div>
           	</a>
        </article>
	</section>

</div>