<div class="content-wrapper">

    <section class="content">    
        <div class="col-lg-12">
            <article class="post" ng-repeat="pixelart in imagenes">
                <a ui-sref="encola.pixelart-to-approbal({ pixelartId: {{pixelart.id}} })"> 
                <h4 class="card-title">{{pixelart.Titulo}}</h4>
                <img class="img-fluid" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.Previa}}" alt="{{pixelart.Titulo}}" >
                <div class="card-footer">
                    <img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.imagen}}" alt="{{pixelart.username}}">
                    <span class="username text-muted"><a href="{{pixelart.IdUsuario}}"> {{pixelart.username}} </a></span>
                </div>
                </a>
            </article>

            <div ng-if="!imagenes.length" class="d-block text-xs-center m-t-3">
                <h1><i class="fa fa-smile-o" aria-hidden="true"></i> No hay PixelArts en cola.</h1>
            </div>
        </div>
    </section>

</div>