<div class="content-wrapper galeria">

    <section class="content" ng-controller="getPosts">    
        <div class="col-lg-12">

            <ul class="nav nav-pills">
              <li class="nav-item">
                <a ui-sref="galeria.createpost" class="nav-link btn btn-primary" ng-hide="!currentUser">Subir PixelArt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">{{imagenes.length}} PixelArts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">{{favs.length}} Favoritos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">{{users.length}} Pixelartistas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#"> ... </a>
              </li>
            </ul>

            <loader
                working="loading_pixelarts"
                template="5">
            </loader>

            <article class="post" ng-repeat="pixelart in imagenes">
                <a ui-sref="galeria.pixelart({ pixelartId: {{pixelart.id}} })"> 
                <h4 class="card-title">{{pixelart.Titulo}}</h4>
                <img class="img-fluid" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.Previa}}" alt="{{pixelart.Titulo}}" >
                <div class="card-footer">
                    <img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.imagen}}" alt="{{pixelart.username}}">
                    <span class="username text-muted"><a ui-sref="perfil({id_usuario:pixelart.IdUsuario})"> {{pixelart.username}} </a></span>
                </div>
                </a>
            </article>
        </div>
    </section>

</div>