<div class="content-wrapper home">

	<style type="text/css">
		.home li.nav-item {
			width: calc(100% / 2)!important;
		}
	</style>

	<ul id="homeTabs" class="nav nav-tabs hidden-md-up" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#myPosts" role="tab">Ultimos Posts</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#myPixelarts" role="tab">Ultimos PixelArts</a>
	  </li>
	</ul>

	<div class="tab-content">
		<section id="myPosts" class="col-xs-12 col-lg-5 content tab-pane fade in active" ng-controller="getNoticias" role="tabpanel">

			<div class="d-block p-y-1 clearfix">
				<h3 class="d-inline-block hidden-xs-down">Ultimos Posts</h3>
				<button ui-sref="home.createnews" class="btn btn-primary btn-sm pull-right d-inline-block" ng-hide="!currentUser">Crear Post</button>
			</div>

			<loader
	            working="loading"
	            template="5">
	        </loader>

			<article class="card" ng-repeat="noticia in noticias">
				<div class="card-block">
					<h5 class="card-title"><a ui-sref="home.thread({NoticiaId:noticia.id})"> {{noticia.Titulo}} </a></h5>
					<h6 class="card-subtitle text-muted"><img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{noticia.imagen}}" alt="{{noticia.username}}">
					<span class="username text-muted"><a ui-sref="perfil({id_usuario:noticia.IdUsuario})"> {{noticia.username}} </a></span> <time title="{{ noticia.created_at | amUtc | amLocal | amDateFormat: 'LLLL' }}" class="date text-muted">@ {{ noticia.created_at | amUtc | amLocal | amCalendar }}</time></h6>
				</div>
				<!--  <img src="..." alt="Card image"> -->
				<div class="card-block">
					<p class="card-text"> {{noticia.Descripcion | limitTo: 250}} {{noticia.Descripcion.length < 250 ? '' : '...'}} </p>
					<div ng-if="noticia.Descripcion.length > 250">
						<a class="read-more" ui-sref="home.thread({NoticiaId:noticia.id})">Ver post completo</a>
					</div>
					<!-- <a href="#" class="card-link">Card link</a> -->
					<a class="btn btn-secondary btn-sm pull-right" ui-sref="home.thread({NoticiaId:noticia.id})">
						<i class="fa fa-comments" aria-hidden="true"></i> {{noticia.comentarios.length}} Comentario<span ng-if="noticia.comentarios.length != 1">s</span>
					</a>
				</div>
			</article>
		</section>

		<section id="myPixelarts" class="col-xs-12 col-lg-7 content tab-pane fade " ng-controller="getPosts" role="tabpanel">
			<div class="d-block p-y-1 clearfix">
				<h3 class="d-inline-block hidden-xs-down">Ultimos PixelArts</h3>
				<button ui-sref="home.createpost" class="btn btn-primary btn-sm pull-right d-inline-block" ng-hide="!currentUser">Subir PixelArt</button>
			</div>

			<loader
	            working="loading_pixelarts"
	            template="5">
	        </loader>

			<article class="post" ng-repeat="pixelart in imagenes">
				<a ui-sref="home.pixelart({pixelartId:pixelart.id})">
	            <h4 class="card-title"> {{pixelart.Titulo}} </h4>
	            <img class="img-fluid" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.Previa}}" alt="{{pixelart.Titulo}}" >
	            <div class="card-footer">
	                <img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.imagen}}" alt="{{pixelart.username}}">
	                <span class="username text-muted"><a ui-sref="perfil({id_usuario:pixelart.IdUsuario})"> {{pixelart.username}} </a></span>
	            </div>
	           	</a>
	        </article>
		</section>
	</div>

	<script type="text/javascript">
		$('#homeTabs a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show');
		})
	</script>

</div>