<div class="content">		
	<header>
		<img src="./img/logo.PNG">		
		<a href="#" class="close js-close-lightbox"><i class="icon-cross"></i></a>
	</header>

	<p>Inicia sesión en PixelEsp</p>

	<!-- Boton Facebook -->
	
	<form class="form fancy" action="" method="post">
		<span class="input">
			<input type="email" tabindex="1" id="email" name="email">
			<label for="email">
				<span class="label-content">Email</span>
			</label>
		</span>

		<span class="input">
			<input type="password" tabindex="2" id="password" name="password">
			<label for="password">
				<span class="label-content">Contraseña</span>
			</label>
		</span>

		<a class="forgot-pw" tabindex="3" href=""><span>¿Olvidaste tu contraseña?</span></a>

		<button tabindex="4" class="email-btn primary-btn" type="submit">Iniciar Sesión</button>

		<p class="outside">¿No tenés una cuenta? <a href="/what-is-car-throttle/?ref=sign_in">Empieza ahora</a></p>

	</form>
	

</div>