<section class="wrapper">
    <div class="content-post">

        <article class="card">
            <div class="card-block text-xs-center">
                <h5 class="card-title" > {{pixelart.Titulo}} </h5>
                <h6 class="card-subtitle text-muted"><img class="img-circle" src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.imagen}}" alt="{{pixelart.username}}">
                <span class="username text-muted"><a ui-sref="perfil({id_usuario:pixelart.idUsuario})">{{pixelart.username}}</a></span> <time title="{{ pixelart.created_at | amDateFormat: 'LLLL' }}" class="date text-muted">@ {{ pixelart.created_at | amCalendar }}</time></h6>
            </div>
             <img src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.Imagen}}" alt="{{pixelart.Titulo}}" class="pixelart img-fluid" style="max-height:420px;margin:15px auto">

             <small class="d-block text-xs-right" style="margin-right:15px;">
                <a href="http://res.cloudinary.com/hyktxhgfc/image/upload/{{pixelart.Imagen}}" target="_blank">
                    Examinar imagen en tamaño completo <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </small>

            <div class="card-block">
                <p class="card-text"> {{pixelart.Descripcion}} </p>
                <!-- <a href="#" class="card-link">Card link</a> -->
            </div>

            <div class="card-footer">
                
                <button ng-click="doDelete(); closeThisDialog('Some value')" type="button" class="btn btn-danger pull-xs-left"><i class="fa fa-times" aria-hidden="true"></i> No es pixelart</button>
                <button ng-click="doApprobal()"type="button" class="btn btn-success pull-xs-right"><i class="fa fa-check" aria-hidden="true"></i> Es pixelart</button>
            </div>
        </article>
    </div>
</section>
