<div class="content">
    <header>
        <img src="./img/logo.PNG">
    </header>

    <div class="nav-center">
    <ul id="modalTabs" class="nav nav-tabs" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#login" target="_self" role="tab">Inicia sesión</a>
      </li>
      <li class="nav-item">
         <a class="nav-link disabled" href=""><small>ó</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#singup" target="_self" role="tab">Registrate</a>
      </li>

    </ul>
    </div>  

    <div class="tab-content">

        <!-- Login -->
        <div class="tab-pane fade in active" id="login" role="tabpanel">
            <form class="form fancy" ng-submit="doLogin(usuario)" novalidate>

                <div ng-show="error" class="alert-danger" role="alert">
                    <p> {{ error }} </p>
                </div>
                
                <span class="input">
                    <input type="text" tabindex="1" name="username" ng-model="usuario.username" required>
                    <label for="username">
                        <span class="label-content">nick</span>
                    </label>
                </span>

                <span class="input" style="margin-bottom:0">
                    <input type="password" tabindex="3" name="password" ng-model="usuario.password" required>
                    <label for="password">
                        <span class="label-content">Contraseña</span>
                    </label>
                </span>

                <a class="forgot-pw" tabindex="3" href=""><span>¿Olvidaste tu contraseña?</span></a>

                <button tabindex="4" class="btn-full btn-primary" type="submit">Iniciar Sesión</button>
                
            </form>
        </div>

        <!-- Singup -->
        <div class="tab-pane fade" id="singup" role="tabpanel">

            <form name="formRegister" class="form fancy" ng-submit="doRegister()" novalidate>
                <!-- <span class="input">
                    <input type="text" tabindex="1" name="name" ng-model="usuario.name" required>
                    <label for="name">
                        <span class="label-content">Tu Nombre</span>
                    </label>
                </span> -->

                
                <div ng-show="error" class="alert-danger" role="alert">
                    <p> {{ error }} </p>
                </div>

                <span class="input">
                    <input type="text" tabindex="2" name="username" ng-model="usuario.username" ng-minlength="3" required>
                    <label for="username">
                        <span class="label-content">Nick</span>
                    </label>
                </span>

                <div class="alert-warning" role="alert" ng-messages="formRegister.username.$error" ng-if="formRegister.username.$dirty" >
                    <p ng-message="required">Usa tu nick.</p>
                    <p ng-message="minlength">Usa más de 3 carácteres.</p>                    
                </div>

                <span class="input">
                    <input type="email" tabindex="3" name="email" ng-model="usuario.email" required>
                    <label for="email">
                        <span class="label-content">Email</span>
                    </label>
                </span>

                <div class="alert-warning" role="alert" ng-messages="formRegister.email.$error" ng-if="formRegister.email.$dirty" >
                    <p ng-message="required">Usa tu email.</p>
                    <p ng-message="email">Eso no tiene forma de email.</p>
                </div>

                <span class="input">
                    <input type="password" tabindex="4" name="password" ng-model="usuario.password" required>
                    <label for="password">
                        <span class="label-content">Contraseña</span>
                    </label>
                </span>

                <div class="alert-warning" role="alert" ng-messages="formRegister.password.$error" ng-if="formRegister.password.$dirty" >
                    <p ng-message="required">Usa una contraseña.</p>
                    <p ng-message="minlength">Usa más de 8 carácteres.</p>
                </div>

                <button tabindex="5" class="btn-full btn-primary" type="submit">Registrate</button>

            </form>

        </div>

    </div>
</div>