<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
  <a class="navbar-brand" ui-sref="home"><img class="center-block" src="img/logo.PNG"></a>
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapesenavbar" aria-controls="collapesenavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="collapesenavbar">
  	<ul ng-if="currentUser" class="nav navbar-nav pull-xs-left">
		<li class="nav-item"><a href="" ng-click="openCreatePost()" ><i class="fa fa-pencil"></i> Crear post</a></li>
		<li class="nav-item"><a href="" ng-click="openCreateNews()"><i class="fa fa-newspaper-o"></i> Crear noticia</a></li>		
	</ul>

	<ul class="nav navbar-nav pull-xs-right">
		<li class="nav-item" ng-if="isAuthorized(userRoles.admin)"><a href="" >You're the real mdfk G.</a></li>
		<li class="nav-item active"><a href="" ng-if="!currentUser" ng-click="openLogin()"><i class="fa fa-bullhorn faa-tada animated" aria-hidden="true"></i> Comienza</a></li>
		<li class="nav-item"><a href="" ng-if="currentUser" ng-click="doLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
	</ul>

  </div>
</nav>