<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" ui-sref="home"><img class="center-block" src="img/logo.PNG"></a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul ng-if="currentUser" class="nav navbar-nav navbar-left">
				<li><a href="" ng-click="openCreatePost()" ><i class="fa fa-pencil"></i> Crear post</a></li>
				<li><a href="" ng-click="openCreateNews()"><i class="fa fa-newspaper-o"></i> Crear noticia</a></li>
				
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="isAuthorized(userRoles.admin)"><a href="" >You're the real mdfk G.</a></li>
				<li class="active"><a href="" ng-if="!currentUser" ng-click="openLogin()"><i class="fa fa-bullhorn faa-tada animated" aria-hidden="true"></i> Comienza</a></li>
				<li><a href="" ng-if="currentUser" ng-click="doLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
			</ul>
		</div>

	</div>
</nav>